.main {
  display: block;
  width: fit-content;
}

.score {
  width: 20px;
  height: fit-content;
  float: left;
  padding-right: 15px;
}

.name {
  width: 100px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  margin-top: -12px;
}

.title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.logo {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 65px;
  padding-top: 2px;
}
