.board {
  width: 800px;
  height: 800px;
  border: 5px solid black;
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
}

.snake_body_element {
  position: absolute;
  background-color: black;
  width: 16px;
  height: 16px;  
} 